<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ZTPT" connectionString="Data Source=.;Initial Catalog=ZTPlanningTasks;Integrated Security=false;User ID=sa;Password=dircls;pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>